* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

header {
    padding: 20px 0;
    position: absolute;
    z-index: 999;
    width: 100%;
}
.site-width {
    max-width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
   
}
.banner-bg{
    background-image: url(banner-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    


}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.sec-1 img {
    width: 120px;
}

.sec-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 14rem 0;
    z-index: 9999;
    position: relative;

}

h2 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 24px;
    font-weight: 400;
    margin: 5px;
}

.btn {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: red;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
@media (max-width:768px){
    .sec-1 {
        flex-direction: column;
        gap: 15px;
    }
    .btn{
        flex-direction: column;
        gap: 15px;
    }
    .sec-2 {
        flex-direction: column;
        text-align: center;
    }
    
}
@media (max-width:992px){
    .sec-2 {
        flex-direction: column;
        text-align: center;
    }
}
